// ================================================================================================
//  workshop
//  Copyright (C) 2022 Tim Leonard
// ================================================================================================

// This files defines all the console variables used by the game.

// This configuration file is run on startup and each time the user
// changes an in-game setting.

// The default block values are only used when no value has been
// set from a higher priority source. 

// Code outside the default block is evaluated every time.

// The syntax for the rest of the configuration file is a very simple C
// style syntax, it only supports simple expressions and bool/int/float/string
// value types, don't try to do anything complex.

// ================================================================================================
//  Default configuration - used if no saved configuration is found.
// ================================================================================================
default
{
    // Configure detail levels based on available gpu memory.
    if (gpu_memory_mb > 4096)
    {
        texture_detail = 3;
    }
    else if (gpu_memory_mb > 2048 || gpu_memory_mb == 0)
    {
        texture_detail = 2;
    }
    else if (gpu_memory_mb > 1024 && gpu_memory_mb != 1)
    {
        texture_detail = 1;
    }
    else
    {
        texture_detail = 0;
    }
}

// ================================================================================================
//  Configuration - used each time this config file is executed.
// ================================================================================================
if (platform == "windows")
{
    texture_streaming_enabled = true;    

    if (texture_detail == 0)
    {
        texture_streaming_pool_size_mb = 512;
        texture_streaming_max_resident_mips = 9;
    }
    else if (texture_detail == 1)
    {
        texture_streaming_pool_size_mb = 1024;
        texture_streaming_max_resident_mips = 10;
    }
    else if (texture_detail == 2)
    {
        texture_streaming_pool_size_mb = 2048;
        texture_streaming_max_resident_mips = 10;
    }
    else if (texture_detail == 3)
    {
        texture_streaming_pool_size_mb = 4096;
        texture_streaming_max_resident_mips = 11;
    }
}