# Prevent uploading non-redistributable assets
noredist/

# Ignore intermediate folders.
/bin/
/intermediate/
tests/
/junk/
saved/
logs/
.vs/
.idea/
CMakeFiles/
CMakeCache.txt

# Ignore exclusions
!source/thirdparty/**
